body {
    background-color: #000; /* Schwarzer Hintergrund */
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.starfield {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}
.starfield .star {
    position: absolute;
    border-radius: 50%;
    background: #551a8b; 
    width: 1px;
    height: 1px;
    box-shadow: 0 0 5px rgba(154, 50, 205, 0.8);
    animation: starry-sky 20s linear infinite;
}
.starfield .star:nth-child(odd) {
    animation-duration: 25s;
}
.starfield .star:nth-child(even) {
    animation-duration: 30s;
}
.starfield .star:nth-child(n) {
    top: calc(100% * random());
    left: calc(100% * random());
}
@keyframes starry-sky {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(100%); opacity: 1; }
}
@keyframes glow {
    0% { box-shadow: 0 0 10px rgba(85,26,139, 0.8); }
    50% { box-shadow: 0 0 20px rgba(85,26,139, 0.8); }
    100% { box-shadow: 0 0 10px rgba(85,26,139, 0.8); }
}

/* Header */
header {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.3); /* Transparenter blau */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
header h1 {
    color: #9a32cd; /* Weiß für den Header-Text */
    margin-left: 20px;
    display: flex;
    align-items: center;
}
header h1 img {
    margin-right: 10px;
}
/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
    display: flex;
    align-items: center;
}
nav ul li a {
    color: #9a32cd; /* Weiß für die Navigation */
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}
nav ul li img {
    margin-left: 5px;
}
nav ul li a:hover,
nav ul li a.active {
    color: #551a8b; /* Weiß für den Hover-Effekt */
}
/* Hauptinhalt */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 20px rgba(154, 50, 205, 0.5); 
    border-radius: 10px;
    margin-top: 80px;
    margin: 20px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Durchsichtiger schwarzer Hintergrund */
    text-align: center; /* Text horizontal zentrieren */
    overflow: hidden; /* Verhindert, dass der Container überläuft */
}
h2 {
    color: #9a32cd; /* Blau */
    text-shadow: 0 0 10px #9a32cd;
    font-size: 2em;
}
p {
    font-size: 1.5em;
}
.commands {
    flex: 1; /* Ermöglicht, dass der Container den verfügbaren Platz ausnutzt */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Sicherstellen, dass der Inhalt oben beginnt */
    padding: 10px;
    box-sizing: border-box; /* Padding beeinflusst den verfügbaren Platz */
    margin: 10px; /* Abstand um die Sektion */
    max-height: 400px; /* Maximale Höhe für den Scrollbereich */
    max-width: 1200px; /* Beispiel für eine feste maximale Breite */
    overflow: auto; /* Ermöglicht Scrollen, wenn der Inhalt größer ist */
    background-color: rgba(0, 0, 0, 0.7); /* Hintergrundfarbe */
}
.command-bubble {
    border: 8px solid #9a32cd; /* Blau */
    border-radius: 14px;
    padding: 20px; /* Innenabstand der Blasen */
    margin: 10px 0;
    background-color: #000; /* Schwarzer Hintergrund */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff; 
    width: 100%; /* Blasen füllen die verfügbare Breite */
    max-width: 600px; /* Maximale Breite der Blasen */
}
.command-usage {
    margin-top: 20px;
    font-style: normal;
    color: #fff;
}
.command {
    margin: 10px 0;
    font-size: 1.5em;
    transition: transform 0.3s, color 0.3s;
}
.command:hover {
    transform: scale(1.1);
    color: #1e90ff; /* Blau */
}
.commands-header {
    font-size: 2.5em; /* Große Schriftgröße */
    color: #9a32cd; /* Blau */
    margin-top: 20px; /* Abstand nach oben */
    margin-bottom: 20px; /* Abstand nach unten */
    text-align: left; /* Text nach links ausrichten */
}
/* Footer */
footer {
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(51, 51, 51, 0.3); /* Transparenter weiß */
    color: #9a32cd; /* Blau für den Footer-Text */
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid rgba(240, 240, 240, 0.3);
}
footer p {
    margin: 5px 0;
}
footer a {
    color: #9a32cd; /* Blau für die Links */
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
}
footer a:hover {
    color: #8968cd;
}
/* Medienabfragen für kleinere Bildschirme */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }
    nav ul li a {
        font-size: 1em;
    }
    .container {
        padding: 15px;
        box-shadow: 0 0 15px rgba(191, 62, 255, 0.5); 
        margin-top: 70px;
        margin: 15px;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        font-size: 1.2em;
    }
    .command {
        font-size: 1.2em;
    }
}
@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }
    nav ul li a {
        font-size: 0.9em;
    }
    .container {
        padding: 10px;
        box-shadow: 0 0 10px rgba(191, 62, 255, 0.5); 
        margin-top: 60px;
        margin: 10px;
    }
    h2 {
        font-size: 1.2em;
    }
    p {
        font-size: 1em;
    }
    .command {
        font-size: 1em;
    }
}
